.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 950px;
  height: 950px;
  margin: 48px auto;
  border: 5px solid #3542599b;
  padding: 36px;
  /* background: linear-gradient(to right, #c2ded1, #ccf3ee); */
  /* background-color: rgba(255, 255, 255, 0.811); */
  /* background-color: #ccf3eec5; */
  background-color: #c2ded1e4;
  border-radius: 9px;
  box-shadow: 3.8px 7.5px 7.5px hsl(0deg 0% 0% / 0.38);
  position: relative;
}

.page {
  display: flex;
  gap: 36px;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.btn-rules-box {
  position: absolute;
  top: 20px;
  right: 20px;
}

header {
  display: flex;
  gap: 36px;
  flex-direction: column;
}

.box {
  display: flex;
  gap: 64px;
  align-items: center;
  justify-content: center;
  width: 600px;
  padding: 15px;
  border-radius: 9px;
}

table {
  margin-bottom: 16px;
}

.game-levels {
  margin-top: 326px;
  text-align: center;
}

.game-levels h2 {
  margin-top: 16px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.helpers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  text-align: center;
  margin-top: 326px;
}
