* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lobster', sans-serif;
  background-image: url('../img/background.png');
  color: #354259;
  overflow: scroll;
}

/* Header Desing */

h1 {
  font-size: 48px;
}

.box {
  border: 3px solid #f9fcfa;
  background-color: #e1efe8;
}

.game-state {
  box-shadow: inset 3px 3px 3px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  height: 80px;
  width: 80px;
  padding: 5px;
  font-size: 48px;
  border: 2px solid #38455b;
  border-radius: 9px;
  text-align: center;
  cursor: pointer;
  background-color: #c2ded1;
}

.game-state:hover {
  background-color: #c2ded194;
}

.game-state:active {
  transform: scale(95%);
}

/* Helpers */

.hints {
  font-size: 36px;
  width: 150px;
  height: 40px;
}

.hint {
  cursor: pointer;
}

.mode-title {
  font-size: 36px;
}

/* footer */

footer {
  text-transform: uppercase;
  font-family: 'Akshar', sans-serif;
  color: #333;
  text-align: center;
  margin-bottom: 24px;
  font-size: 12px;
  font-weight: 700;
}
