* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lobster', sans-serif;
  background-color: #c2ded1;
  color: #354259;
}

.page {
  width: 800px;
  /* height: 1000px; */
  padding: 96px;
  padding-top: 0;
  margin: 0 auto;
  margin-top: 64px;
  display: flex;
  /* gap: 24px; */
  flex-direction: column;
  text-align: center;
  align-items: center;
}
/* Header Desing */

h1 {
  font-size: 48px;
  margin-bottom: 36px;
}

.box {
  display: flex;
  gap: 64px;
  align-items: center;
  justify-content: center;
  border: 3px solid #f9fcfa;
  padding: 15px;
  border-radius: 9px;
}

.game-state {
  height: 80px;
  width: 80px;
  padding: 5px;
  font-size: 48px;
  border: 3px solid #354259;
  border-radius: 9px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}

.game-state:hover {
  background-color: #f9fcfa;
}

.box h2 {
  margin-bottom: 12px;
}

.lives {
  transition: all 1s;
}

.features {
  display: flex;
  padding: 20px;
  margin: 40px auto;
  gap: 36px;
  text-align: center;
  align-items: center;
}

.hints {
  font-size: 36px;
  width: 150px;
  height: 40px;
}

.hint {
  cursor: pointer;
}

/* Board Design */

.game-board {
  display: flex;
  gap: 36px;
  margin-bottom: 96px;
}

.board-container {
  width: 500px;
}

table {
  box-shadow: 0px 7px 19px -2px rgba(0, 0, 0, 0.82);
  margin: auto;
  /* margin-bottom: 48px; */
}

.cell {
  height: 35px;
  width: 35px;
  text-align: center;
  border: 1px solid #354259;
  border-radius: 3px;
}

.cell--hidden {
  background-color: #74857d;
  border: 1px solid #354259;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.cell--shown {
  background-color: #f9fcfa;
}

.btns-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

/* footer */

footer {
  text-transform: uppercase;
  font-family: 'Akshar', sans-serif;
  color: #888;
  text-align: center;
  margin-bottom: 64px;
  font-size: 12px;
}

/* General button desgin i took from free source */
button {
  margin: 5px;
}

.custom-btn {
  width: 110px;
  height: 40px;
  color: #354259;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lobster', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn {
  background: linear-gradient(0deg, #35425937 0%, #c2ded1 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn:before,
.btn:after {
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  background: #354259;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn:before {
  height: 0%;
  width: 2px;
}
.btn:after {
  width: 0%;
  height: 2px;
}
.btn:hover {
  color: #354259;
  background: transparent;
}
.btn:hover:before {
  height: 100%;
}
.btn:hover:after {
  width: 100%;
}
.btn span:before,
.btn span:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  background: #354259;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn span:before {
  width: 2px;
  height: 0%;
}
.btn span:after {
  height: 2px;
  width: 0%;
}
.btn span:hover:before {
  height: 100%;
}
.btn span:hover:after {
  width: 100%;
}
