* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lobster', sans-serif;
  background-color: #c2ded1;
  color: #354259;
}

/* Header Desing */

h1 {
  font-size: 48px;
}

.box {
  border: 3px solid #f9fcfa;
  background-color: #e1efe8;
}

.game-state {
  height: 80px;
  width: 80px;
  padding: 5px;
  font-size: 48px;
  border: 3px solid #354259;
  border-radius: 9px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}

.game-state:hover {
  background-color: #f9fcfa;
}

/* Helpers */

.hints {
  font-size: 36px;
  width: 150px;
  height: 40px;
}

.hint {
  cursor: pointer;
}

.mode-title {
  font-size: 36px;
}

/* footer */

footer {
  text-transform: uppercase;
  font-family: 'Akshar', sans-serif;
  color: #888;
  text-align: center;
  margin-bottom: 64px;
  font-size: 12px;
}
