/* *{
    box-sizing: border-box;
}
 */

body {
    background-color: #000;
    color: azure;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.cell {
    height: 20px;
    width: 20px;
}

table {
    margin: auto;
    border: 1px solid #79db75;
}

.modal {
    background-color: rgb(208, 34, 34);
    height: 100px;
    width: 400px;
    margin: auto;
    display: none;
    padding: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ground {
    background-color:darkgreen;
    border-collapse: collapse;
}

button {
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
}